.slidecontainer {
    width: 8em;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: #142b3f;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    background: #142b3f;
    cursor: pointer;
}